input {
	height: 50px;
	font-size: xx-large;
	width: 50px;
	border-style: none;
	border-bottom-style: dashed;
	text-align: center;
	float: left;
}
input:focus {
	outline-style: dashed;
	outline-width: 2px;
	border-bottom-style: none;
}

h1 {
	font-size: xx-large;
	display: flex;
	justify-content: center;
}
#SubmitButton {
	display: none;
}

span {
	position: relative;
	left: 10px;
}
.wrapper {
	border: 1px;
	font-size: xx-large;
	width: 100px;
}
